/* font-family: 'Roboto', sans-serif;
            HEADINGS

font-family: 'Poppins', sans-serif; 
            MAIN TEXT*/


body {
  font-family: 'Poppins', sans-serif;
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
}

#jumbotron {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  background: url("./images/jumbotronBackground.png");
  background-position-x: left;
  background-repeat: no-repeat;
  background-color: azure;
}

#modalButton {
  position: absolute;
  left: 80%;
  z-index: 0;
  width: 200px;
  font-size: 20px;
}